body {
    font-family: Arial, sans-serif; margin: 0;
    padding: 0; display: flex;
    flex-direction: column; height: 100vh;
    }
    .wrapper { display: flex; flex: 1;
    width: 100%;
    }
    .sidebar { width: 250px;
    background: #507e06; padding: 20px;
    color: rgb(29, 192, 204);
    }
    .sidebar ul {
    list-style: none; padding: 0;
    }
    .sidebar ul li {
    margin: 10px 0;
    }
    .sidebar ul li a { color: rgb(22, 31, 7);
    text-decoration: none; font-size: 18px; display: block;
    }
    .content { flex: 1;
    padding: 20px;
    background: #7fbe37;
    height:max-content;
}
.content-section {
background: rgb(115, 177, 90); padding: 20px;
border-radius: 40px;
box-shadow: 0 0 10px rgba(105, 20, 20, 0.1);
}
.content-section p {
margin-bottom: 10px; line-height: 1.6;
}
#materi{
color:rgb(7, 26, 15);
}
.footer {
background: #0e631c; color: rgb(109, 153, 51);
text-align: center; padding: 10px; position: relative; font-weight: bold;
}
.foto-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    justify-items: center;
    padding: 20px 0;
}
.foto-grid img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}
.foto-grid figcaption {
    margin-top: 10px;
    font-size: 20px;
    color: #140202;
    text-align: center;
    font-size: 14px;
}
